// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

@font-face {
    font-family: 'dukaneregular';
    src: url('./../../fonts/dukane-webfont.woff2') format('woff2'),
    url('./../../fonts/dukane-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barcode_fontregular';
    src: url('./../../fonts/barcodefont-webfont.woff2') format('woff2'),
    url('./../../fonts/barcodefont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Color Usage
$color-primary: #205527 !default;
$color-secondary: #000000 !default;

$color-right: #7AB800 !default;
$color-wrong: #F01D24 !default;

$color-pick-1: #FF760E !default;
$color-pick-2: #0887F5 !default;

$white: #FFF !default;
$black: #000 !default;

$primary-button-color: $color-right;
$primary-hyperlink-color: $color-primary;

// Text
$base__font-size: 16 !default;
$base__line-height: 1 !default;

$spacing: 1.125em !default;

// Transitions
$trns-duration: .5s !default;

// Images path
$path-img: "../images" !default;
$default-img: "../../images/_default_";

// Breakpoints
$brkpoint-sm: 30em !default; // 480px
$brkpoint-md: 47em !default; // 752px
$brkpoint-lg: 60em !default; // 960px
$brkpoint-xl: 71.25em !default; // 1140px
$brkpoint-xxl: 90em !default; // 1440px

$header-height: 135px !default;