// =========== Base
*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    color: $black;
    background: $white;
    font: 400 $base__font-size + px $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    line-height: 1.333em;
    height: 100%;
    min-width: 320px;
    min-height: 100%;
    color: #000;
}

h1, h2, legend, h3, h4, h5, h6 {
    font-family: $font-family;
    line-height: 1.25em;
    margin: 0 0 0.25em 0;
    font-weight: 400;
}

h1 {
    font-size: 2.25rem;
}

h2,
legend {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

p {
    line-height: 1.667em;
    margin: 0 0 1.625em;
    &.lead {
        font-size: 18px;
    }
}

a {
    color: $color-primary;
    cursor: pointer;
    text-decoration: none;
    transition: color 60ms ease-out;
    &:hover {
        color: lighten($color-primary, 10%);
    }
    &:active, &:focus {
        color: darken($color-primary, 10%);
        outline: none;
    }
}

// Other
small {
    color: #8d9994;
    font-size: 0.875rem;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

code, pre {
    font-family: 'courier new', monospace;
}

pre {
    overflow-x: auto;
}

abbr {
    border-bottom: 1px dotted #8d9994;
}

del {
    text-decoration: line-through;
}

mark {
    background-color: lighten(yellow, 35%);
}

hr {
    background-color: transparent;
    border: solid #ccd6d2;
    border-width: 1px 0 0;
    clear: both;
    margin: 2.5rem $spacing;
}

// Lists
ul, ol {
    margin: 0 0 $spacing 0;
    padding-left: 18px;
    li {
        margin-bottom: 6px;
    }
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dl {
    margin-bottom: $spacing;

    dt {
        font-weight: bold;
    }
    dd {
        margin-left: $spacing;
    }
}
