// Layout
.l-container {
    margin: 0 auto;
    //padding: 12px 6.25%;
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &:after {

    }

    &--mobile {
        max-width: 1024px;
        margin: 0 auto;

        .header__wrap {
            padding: 20px;
            height: 131px;

            @include mq('medium') {
                width: 400px;
            }
        }

    }

    @include mq('medium') {
        &.l-container--mobile {
            padding: 150px 60px;
        }
    }

    @include mq('extralarge') {
        padding: 30px 60px;
    }
    @include mq('hd') {
        padding: 30px 5%;
    }
}

.l-full {
    width: 100%;
    padding: 40px 0;
}

.l-half {
    float: left;
    width: 50%;
}

.l-one__third {
    @include mq('medium') {
        float: left;
        width: 33.333%;
    }
}

.l-two__third {
    @include mq('medium') {
        float: left;
        width: 66.666%;
    }
}

.invite {

    &__content {
        position: relative;
        top: 60px;

        .container {
            padding: 30px;

            @include mq('medium') {
                padding: 80px 30px;
            }
        }

        .button {
            width: 100%;

            @include mq('medium') {
                width: auto;
            }
        }
    }


    &__body {
        .container {
            max-width: 1280px;
            width: 100%;
        }

        .modal {
            z-index: 1050;

            .button {
                width: calc(100% - 60px);
            }
        }
    }
}

.home-content {
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
        padding: 30px 10px;

        @include mq('medium') {
            padding: 80px 80px;
        }
    }

    .phonebook.container {
        max-width: 900px;
    }
}

.col-md-6 {


    @include mq('medium') {
        padding: 0 10px;
        float: left;
        width: 50%;
    }

    &--right-float {
        padding: 10px 0px 20px;


        @include mq('medium') {
            padding: 50px 0 0 0;
            float: right;
        }
    }


}

.row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

