.wrapper--404 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;


    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 25%;

        img {
            width: 100%;
        }
    }

    .title {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
        color: #fff;
    }

}