// =========== Buttons

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

%basic-button-background-animation {
    transition: background .15s ease-out;
}


%button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
    margin: 0;
    padding: 12px 30px;
    text-decoration: none;
    text-align: center;
    position: relative;

    &:focus {
        outline: 0;
    }
}

.button {
    @extend %button;
    @extend %basic-button-background-animation;
    color: $white;
    border: none;
    background: $primary-button-color;

    &--primary {
        font-size: 18px;
        
        &:hover {
            background-color: lighten($primary-button-color, 5%);
        }

        &:active, &:focus {
            background-color: darken($primary-button-color, 5%);
        }
    }

    &--post--message, &--post--question, &--post--discuss {
        position: relative;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        background: rgba($black, 0.4);
        border: 2px solid $white;
        font-size: 16px;
        line-height: 1.1em;
        cursor: pointer;
        text-align: center;

        &:before {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }

        &.inactive {
            opacity: .5;
            cursor: default;
        }

        //&:hover {
        //    transition: transform 100ms ease-out;
        //    transform: scale(1.1, 1.1);
        //}
    }

    &--post--message, &--post--discuss {

        //padding: 30px 10px 50px;
        &:before {
            content: url($default-img + '/speech-bubble.png');
        }
    }

    &--post--message {
        float: left;
        margin-right: 10px;
    }

    &--post--question {
        //padding: 55px 10px 50px;
        float: left;
        &:before {
            content: url($default-img +  '/post_question.png');
        }

    }

    &__back {
        width: 16px;
        display: block;
        position: absolute;
        top: 60px;
        left: 6.25%;
        svg {
            width: 100%;
            polygon {
                fill: $white;
            }
        }
    }

    &__image {
        height: 100%;
        width: 100%;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        img {
            cursor: pointer;
        }
    }

    &--register {
        width: 90%;
        height: 60px;
        background-color: $primary-button-color;
    }

    &--swiper {
        display: none;
        position: absolute;
        top: 17px;
        height: 85%;
        width: 40px;
        background-color: #000;
        opacity: .8;
        z-index: 2;
        cursor: pointer;
        background-position: center center;
        background-repeat: no-repeat;

        &--next {
            right: 0;
            background-image: url($default-img + '/slider-next.png');
        }

        &--prev {
            left: 0;
            background-image: url($default-img + '/slider-prev.png');
        }

        &.inactive {
            display: none;
        }

        &:hover {
            transition: opacity 100ms ease-out;
            opacity: .5;
        }

        @include mq('medium') {
            display: block;
        }
    }
    
    &--attendees {
        background-image: url($path-img + '/attendees-triangle.png');
        background-repeat:no-repeat;
        background-position: center center;
        width: 317px;
        height: 273px;
        margin: 0 auto;
        padding-top: 130px;
        color: #fff;
    }

    &--days {
        position: relative;
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: bold;

        .button--day {
            @extend %basic-button-background-animation;

            max-width: 33%;
            min-width: 90px;
            min-height: 40px;
            color: #fff;
            background-size: cover;
            background-position: center;
            border: none;
            border-radius: 0;
            padding: 11px 0;
            font-size: 14px;
            background-color: $color-primary;

            &--inverted {
                color: #000;
                background-image: none;
                background-color: #fff;
                border-left: 1px solid #cccccc;
                border-right: 1px solid #cccccc;
                border-top: none;
                border-bottom: none;
            }

            &:first-of-type {
                border-radius: 8px 0 0 8px;
                border-left: none;
            }

            &:last-of-type {
                border-radius: 0 8px 8px 0;
                border-right: none;
            }

            @include mq('medium') {
                min-width: 110px;
            }
        }

        &__shadow-behind {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &__inner {
            border-radius: 8px;
            display: inline-block;
        }
    }

}

.home .button--post {

    &__wrap {
        width: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        //padding: 0;
        //margin: 0;

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    &--centered {
        float: none;
        margin: 0 auto;
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        p {
            margin: 0;

            &:first-child {
                font-size: 18px;
                font-weight: bold;
            }

            &:last-child {
                font-size: 14px;
            }
        }


    }

    &--discuss {
        margin: 30px auto 0;
    }
}

.close, .back {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    outline:none !important;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.close {
    border: 2px solid #fff;
    background-image: url($default-img + '/cross-white.svg');
    background-size:50%;

    &--gray {
        border: 2px solid #bbb;
        background-image: url($default-img + '/cross-gray.svg');
    }

    &--primary {
        border: 2px solid $color-primary;
        background-image: url($path-img + '/cross-primary.svg');
    }

    &:hover {
        transition: background 100ms ease-out;
        background-size: 35%;
    }
}

.back {
    border: 2px solid #fff;
    background-image: url($default-img + '/left-arrow.svg');
    background-size:50%;
}

.remove-btn {
    background-image: url($default-img + '/cross-white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: rgba(#000, .5);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid $white;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-size: 35%;
        transition: background 100ms ease-out;
    }
}








