.main-wrapper .message__body {
    margin: 0 20px;

    p {
        margin: 0 20px;
    }

    img {
        background-color: rgba(0,0,0,0.5);
        border-radius: 0 20px 20px 20px;
        max-width: 100%;
        max-height: 300px;
        margin: 20px 0;
    }

    video {
        margin: 20px 0;
        max-width: 100%;
    }

    a {
        color: $color-secondary;
    }

    &__text {
        margin-left: 70px;
    }
}

.message__list__item {
    padding-bottom: 15px;

    &:last-of-type {
        padding-bottom: 40px;
    }

    &.me {

    }
}

.message__thumb {
    padding: 10px 10px 6px 10px;

    .image-wrapper {
        margin-right: 12px;
    }

    .name {
        color: #222222;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        padding-top: 3px;
        margin-left: 82px;
    }
}

.message__choice {
    width: 100%;
    min-height: 50px;

    .button {
        font-weight: 600;
        padding: 13px 0;
        float: left;
        width: 50%;
        background-color: #fff;
        color: #aaa;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;

        &.active {
            background-color: $color-primary;
            background-size:cover;
            color: #fff;
            border: none;
            padding: 14px 0;
        }
    }
}