.form-group {
    .form-control {
        height: 55px;
        width: 100%;

        padding: 15px;
        font-size: 14px;
    }
}

.modal {
    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .form-control {
        border: 1px solid #d5d5d5;
    }

    .form-control--checkbox, .form-control--radio {
        display: inline-block;
        float: left;
        height: 20px;
        width: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form-group-with-checkbox {
        label, .empty-form-alert {
            padding-left: 30px;
        }
    }

    .form-input-container {
        position: relative;
    }

    .animated-circAndTick {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        .animated-circ {
            stroke: $color-right !important;
        }

        .animated-tick {
            stroke: $color-right !important;
        }
    }
}

.wrapper--register {
    .form-group {

        &--field {
            padding: 0 0 4px 0;

            &:first-of-type {
                padding: 0 0 4px 0;
                .form-control {
                    border-radius: 10px 10px 0 0;
                }
            }

            &:last-of-type {
                padding: 0 0 10px 0;
                .form-control {
                    border-radius: 0 0 10px 10px;
                }
            }

            &.last-of-type { //Added this class because :last-of-type doesn't work.
                padding: 0 0 10px 0;
                .form-control {
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }


}

input[disabled] {
    background-color: #f0f0f0;
}

.empty-form-alert {
    color: #f00;
    font-weight: bold;
}

.validation-alert {
    color: #f00;
    font-weight: bold;
}

.form-control--alert {
    border: 2px solid #f00 !important;
}