.ad {
    z-index: 9999;

    &__wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 300;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);

        a {
            //text-decoration: underline;
            border-bottom: 1px solid #fff;
            padding-bottom: 2px;
        }

        &.closed {
            bottom: -50px;
            transition: bottom 500ms ease;
        }
    }

    &__popup {
        display: none;
        padding: 20px;
        background: $color-primary;
        color: #fff;

        &.active {
            display: block;
        }

        h2 {
            color: #fff;
            padding-top: 20px;
            margin: 0 0 0.50em 0;
            font-weight: 500;
            line-height: 1em;
            border-top: 1px solid rgba(#fff, .2);
        }

        p {
            color: #fff;
            margin-bottom: 5px;
        }

        &__logo {
            max-width: 200px;
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }

        .remove-btn {
            right: 15px;
            top: 15px;
            padding: 0;
            background-color: transparent;
            border: 2px solid #fff;
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }
    }

    &__banner {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 50px;
        color: #000;
        text-align: center;
        vertical-align: middle;

        p {
            display: inline-block;
            margin: 0 10px 0 0;
            font-weight: bold;
            font-size: 25px;
        }

        &__logo {
            display: inline-block;
            vertical-align: middle;
            top: 55%;
            position: relative;
            transform: translateY(-50%);

            img {
                height: 25px;
            }
        }

        &__label {
            margin-right: 10px;
            font-weight: bold;
        }
    }

    &__button {
        position: absolute;
        right: 15px;
        top: 6px;
        cursor: pointer;

        img {
            width: 35px;
            height: auto;
        }
    }
}