// =========== List


.list__answer {
    list-style: none;
    margin: 30px 0 60px;
    padding: 0;
    &--ab {
        li {
            position: relative;
            float: left;
            width: 50%;
            height: auto;
            a {
                height: 130px;
                width: 130px;
                display: block;
                border: 2px solid $white;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                &#btnAnswer_a {
                    background: $color-pick-1;
                }
                &#btnAnswer_b {
                    background: $color-pick-2;
                }
            }
        }
        &.list__answer--desktop {
            max-width: 800px;
            margin: 60px auto;
            li {
                #btnAnswer_b {
                    .correct-icon {
                        background: url($default-img + '/correct-right.png');
                        background-size: cover;
                        right: -185px;
                        left: inherit;
                    }
                }
                a {
                    width: 320px;
                    height: 320px;
                    &:hover, &:focus {
                        color: $white;
                    }
                    &#btnAnswer_a {
                        background: $color-pick-1;
                        background: rgba($color-pick-1, .8);
                    }
                    &#btnAnswer_b {
                        background: $color-pick-2;
                        background: rgba($color-pick-2, .8);
                    }
                    .correct-icon {
                        display: none;
                        background: url($default-img + '/correct.png');
                        background-size: cover;
                        width: 220px;
                        height: 220px;
                        position: absolute;
                        left: -185px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.right {
                        .correct-icon {
                            display: block;
                        }
                    }
                    &.wrong {
                        opacity: 0.2;
                    }
                }
            }
            p {
                font-size: 30px;
                line-height: 1.2em;
                margin: 0;
                position: absolute;
                width: 320px;
                top: 50%;
                transform: translateY(-50%);
                padding: 4px 16px 0px 12px;
            }
            @include mq('hd') {
                max-width: 1140px;
                li {
                    a {
                        width: 500px;
                        height: 500px;
                        &.right {
                            &:before {
                                width: 120px;
                            }
                        }
                    }
                    p {
                        font-size: 40px;
                        width: 500px;
                    }
                }
            }
        }
    }
    &--desktop {
        li {
            margin-bottom: 22px;
        }
    }

    &--abcd {
        counter-reset: list;
        margin-top: 35px;
        padding: 0 25px;

        &.list__answer--desktop {

            a {
                color: $color-primary;
                background: rgba($white, .7);
            }

            &.locked {

                a::before {
                    background-color: $color-wrong;
                }

                .active::before {
                    background-color: $color-right;
                }
            }
        }

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;

            a {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                font-size: 20px;
                line-height: 1em;
                color: $color-primary;
                //background: $white;
                background: rgba($white, .7);
                transition: background 1s ease-in-out opacity 1s ease-in;
                padding: 6px 6px 6px 60px;
                border-radius: 2em;
                min-height: 50px;
                margin-bottom: 12px;
                text-align: left;
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    padding: 11px 15px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid $white;
                    border-radius: 50%;
                    background: $color-primary;
                    content: counter(list, upper-alpha) " ";
                    counter-increment: list;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 1em;
                    color: $white;
                    text-align: center;
                }

                &:focus, &:active, &:hover , &:visited {
                    text-decoration: none;
                }

                .confirmBox {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    border-radius: 2em;
                    opacity: 1;
                    transition: opacity .3s ease-in;
                    overflow: hidden;

                    .decline, .confirm {
                        position: absolute;
                        height: 100%;
                        width: 50%;
                        transform: translate(0, 0);
                        transition: transform .4s ease-in-out;
                        text-align: center;
                        font-weight: bold;
                        color: white;

                        @include mq('hd') {
                            padding-top: 30px;
                        }

                        .icon {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 100%;
                        }
                    }

                    .decline {
                        transform: translate(-100%, 0);
                        border-radius: 2em 0 0 2em;
                        background-color: $color-wrong;
                    }

                    .confirm {
                        right: 0;
                        transform: translate(100%, 0);
                        border-radius: 0 2em 2em 0;
                        background-color: $color-right;
                    }
                }

                &.active {
                    color: #fff;
                    background: rgba(0,0,0, .55);

                    .confirmBox {
                        .decline, .confirm {
                            transform: translate(0, 0);
                        }
                    }


                }
                @include mq('hd') {
                    min-height: 100px;
                    padding: 6px 12px 6px 130px;
                    font-size: 34px;

                    &:before {
                        width: 100px;
                        height: 100px;
                        padding: 20px 15px;
                        font-size: 50px;
                    }
                }
            }
        }
        &.list__answer--twocol {
            li {
                width: 48%;
                margin: 1% 1%;
                float: left;
                a {
                    min-height: 140px;
                    padding: 12px 24px 12px 165px;
                    font-size: 40px;
                    color: $color-primary;
                    background: $white;
                    background: rgba($white, .7);

                    &:before {
                        font-size: 70px;
                        width: 140px;
                        height: 140px;
                        padding: 30px 15px;
                        border: 5px solid $white;
                    }
                }
                &:nth-child(3) {
                    clear: left;
                }
            }
        }
        &.locked {
            li {
                a {
                    opacity: 0.5;
                    &.active {
                        opacity: 1;
                    }

                    &:focus, &:active, &:hover , &:visited {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.list__question__image {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: list;
    li {
        margin: 0;
        float: left;
        width: 50%;
        position: relative;
        &:before {
            position: absolute;
            top: 6px;
            left: 6px;
            padding: 6px 11px;
            width: 42px;
            height: 42px;
            border: 2px solid $white;
            border-radius: 50%;
            background: $color-right;
            content: counter(list, upper-alpha) " ";
            counter-increment: list;
            font-weight: bold;
            font-size: 24px;
            line-height: 1em;
            color: $white;
            text-align: center;
        }
    }
}

.list__score {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: count 5;
    width: 92%;
    float: right;

    &--client {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            width: 32%;
            margin-left: 2%;
            &:first-child {
                margin-left: 0;
            }
            h3 {
                display: block;
                margin: 0;
                padding: 6px 0;
                border-bottom: 1px solid white;
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.750rem;
                line-height: 1;
            }
            p {
                display: block;
                margin: 0;
                padding: 6px 0;
                border-bottom: 1px solid white;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                line-height: 1;
                &.rank {
                    position: relative;
                    border-bottom: none;
                    svg {
                        margin-top: -14%;
                        position: absolute;
                        top: 20px;
                        left: 0;
                        path {
                            fill: #FFF;
                        }
                    }
                }
            }
        }
    }

    li {
        margin: 0 0 1px 0;
        position: relative;
        a {
            display: flex;
            align-items: center;
            font-size: 20px;
            line-height: 1.2em;
            color: $white;
            background: $black;
            background: rgba(#000, .15);
            padding: 12px 18px 12px 60px;
            min-height: 50px;
            margin-bottom: 0;
            text-align: left;
            position: relative;
            span {
                font-weight: bold;
                float: right;
                width: 88%;
            }
            span:nth-child(2) {
                position: absolute;
                right: 30px;
                transform: translateY(-50%);
                top: 50%;
                width: auto;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                padding: 5px 4px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: #fff 2px solid;
                content: attr(data-rank) " ";
                font-weight: bold;
                font-size: 24px;
                line-height: 1em;
                color: #fff;
                text-align: center;
                transform: translateY(-50%);
            }
        }
    }

    &--top {
        counter-reset: count2;
        width: 100%;
        float: left;
        li {
            .user-image {
                background: $color-secondary url($default-img + '/avatar.png') center bottom no-repeat;
                background-size: 70%;
                border: 2px solid $white;
                width: 100px;
                height: 100px;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 110px;
                border-radius: 50%;

                @include mq('hd') {
                    width: 140px;
                    height: 140px;
                    left: 140px;
                }
            }
            a {
                font-size: 28px;
                padding: 0 180px 0 230px;
                height: 170px;
                &:before {
                    display: none;
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30px;
                    padding: 8px 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: #fff 2px solid;
                    content: attr(data-rank) " ";
                    font-weight: bold;
                    text-align: center;
                    z-index: 2;
                    font-size: 30px;

                    @include mq('hd') {
                        width: 75px;
                        height: 75px;
                        padding: 16px 0;
                    }
                }

                @include mq('hd') {
                    padding: 0 150px 0 310px;

                }
            }


        }

        li:nth-child(1) {
            a {
                background: rgba(#fff, .7);
            }

            span {
                font-size: 40px;
                color: $color-primary;
            }

            :after {
                background-color: #e3d107;
                background: url($default-img + '/background-gold.png') center center no-repeat;
                background-size: cover;
            }
        }

        li:nth-child(2) {
            a {
                background: rgba(#000, .35);
            }

            span {
                font-size: 35px;
            }

            :after {
                background-color: #e3e3e3;
                background: url($default-img + '/background-silver.png') center center no-repeat;
                background-size: cover;
            }
        }

        li:nth-child(3) {
            a {
                background: rgba(#000, .25);
            }

            span {
                font-size: 30px;
            }

            :after {
                background-color: #cda04c;
                background: url($default-img + '/background-bronze.png') center center no-repeat;
                background-size: cover;
            }
        }
    }
}

.list__players-left {
    position: relative;
    width: 140px;
    height: 140px;
    float: left;
    background-color: rgba(255, 255, 255, .1);
    font-size: 48px;
    text-align: center;

    &--total {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 140px;
        margin: 0 auto;
    }

    .label {
        font-size: 20px;
        line-height: 52px;
    }
}

.list__poll {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        text-align: left;
        margin-bottom: 18px;
        p {
            margin: 0;
        }
        .poll__question {
            font-size: 28px;
            text-transform: uppercase;
            padding-left: 130px;
            margin-bottom: -10px;
            width: 100%;
            display: block;
        }
        .poll__result__count {
            width: 85px;
            height: 85px;
            border: 2px solid $white;
            border-radius: 50%;
            background: $color-primary;
            font-weight: bold;
            font-size: 45px;
            line-height: 1em;
            color: $white;
            text-align: center;
            padding: 18px 6px;
            float: left;
            margin-right: 15px;
        }
        .poll__result__progress {
            float: left;
            width: calc(100% - 220px);
            height: 72px;
            display: block;
            background: $color-primary;
            background: rgba($black, 0.4);
            border: 2px solid $white;
            border-radius: 5em;
            margin-top: 7px;
            overflow: hidden;
            .progress__bar {
                width: auto;
                height: 72px;
                transition: width .5s ease-in-out;
                background: $color-primary;
            }
        }
        .poll__result__percent {
            float: left;
            width: 120px;
            font-weight: bold;
            font-size: 36px;
            text-align: right;
            line-height: 1em;
            padding: 22px 0 8px 18px;
        }
    }
}

.message__type {
    list-style: none;
    margin: 0 0 6px 0;
    padding: 0;
    li {
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        .button {
            display: block;
            border-bottom: 4px solid white;
            color: $white;
            background-color: transparent;
            opacity: 0.5;
            font-size: 24px;
            padding: 12px;
            font-weight: 500;
            &.active {
                opacity: 1;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.message__list {
    padding: 0;
}

.question__list {
    padding: 0 0 100px 0;
}

.message__list, .question__list {
    list-style: none;
    margin: 0;

    li {
        margin-bottom: 18px;
        .message__thumb {
            float: left;
            width: 25%;
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            margin-left: 5%;
            .message__thumb__wrap {
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid $white;
                margin-bottom: 12px;
                height: 130px;
                width: 130px;
                background-position: center center;
                background-size: cover;
                left: 50%;
                position: relative;
                transform: translateX(-50%);

                .user-avatar {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url($default-img + '/avatar.png');
                }
            }

            p, span {
                word-wrap: break-word;
            }
        }
        .message__body {
            float: right;
            width: 65%;
            margin-left: 5%;
            background: $black;
            background: rgba($black, .5);
            padding: 12px;
            border-radius: 0 10px 10px 10px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                background: url($default-img + '/triangle.svg');
                background-size: 20px;
                height: 20px;
                width: 20px;
            }

            p {
                margin: 0;
                font-size: 28px;
                word-wrap: break-word;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &.highlight {
                background: rgba($black, .8);
            }
        }
    }
}

.list__answer, .list__answer--abcd {

}