.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    //height: 100%;
    z-index: 3;
    transform: translateY(-100%);
    transition: transform 400ms ease-out;
    background-color: #393939;

    &.active {
        transform: translateY(60px);
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        a {
            color: #fff;

            &:hover, &:active, &:focus, &:visited {
                text-decoration: none;

            }
        }

        li {
            text-align: center;
            font-size: 20px;
            padding: 20px 15px;
            margin: 0;
            border-top:1px solid rgba(#fff, .2);
            background-color: $color-primary;

            &:hover, &:active, &:focus, &:visited {
                color: $color-secondary;
            }
        }
    }

    @include mq('large') {
        position: fixed;
        right: 0;
        left: auto;
        width: auto;
        height: 60px;
        display: inline-block;
        z-index: 4;
        transform: translateY(0);
        background-color: transparent;
        background-image: none;
        margin-right: 60px;

        &__list {

            a {

                li {
                    border: none;
                    background-color: transparent;
                    font-size: 16px;
                    padding: 20px;
                    display: inline-block;
                    border-bottom: none;
                    color: #000;
                }



                &:hover {
                    color: $color-primary;
                }
            }

        }

        &.active {
            transform: translateY(0);
        }
    }

    @include mq('large') {
        margin-right: 90px;
    }

}