.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;

    .message__body {
        position: relative;
        margin: 0 auto;
        padding: 20px 40px;
        width: 70%;
        height: 75%;
        overflow: auto;
        font-size: 44px;
        top: 150px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;

        p {
            margin: 0;
            margin-top: 20px;
            text-align: center;
        }

        img {
            height: auto;
            max-height: 600px;
            display: block;
            margin: 0 auto;
        }
    }

    .message__thumb {
        position: absolute;
        top: 150px;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        margin-left: calc(15% - 205px);

        .message__thumb__wrap {
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $white;
            margin-bottom: 12px;
            height: 130px;
            width: 130px;
            background-position: center center;
            background-size: cover;
            left: 50%;
            position: relative;
            transform: translateX(-50%);

            .user-avatar {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .button {
        width: 100%;
    }



}

.modal, .popup {
    .modal__banner {
        padding: 13px 50px;
        width: 100%;
        min-height: 60px;
        background-color: $color-primary;

        p {
            margin: 0;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            text-align: center;

            @include mq('medium') {
                font-size: 20px;
            }
        }
    }
}

.modal--program {

    .time {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, .5);
        padding: 10px;

        p {
            color: #fff;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 100%;
        }
    }

    .modal-content {
        padding: 0;

        @include mq('medium') {
            min-height: 100%;
            padding: 0;
        }
    }

    &__content {
        padding: 30px 30px;

        @include mq('medium') {
            padding: 45px 50px;
        }

    }

    &__img {
        position: relative;
        margin: 0;
        height: auto;

        img {
            width: 100%;
        }
    }

    .modal-dialog {
        position: fixed;
        height: 100%;
        margin: 0 auto;
        overflow-y: scroll;

        @include mq('medium') {
            position: relative;
            width: 540px;
            overflow: visible;
        }
    }

}

.main-wrapper .modal--side {
    &.in {
        .modal-dialog {
            transform: translate(0,0);
        }
    }

    .modal-dialog {
        margin: 0 0 0 auto;
        transform: translate(25%, 0);
        box-shadow: none;


        @include mq('medium') {
            height: 100%;
        }
    }
}


.main-wrapper .popup, .main-wrapper .modal {
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .back {
        position: absolute;
        left: 10px;
        top: 10px;
    }
}


.main-wrapper .modal {

    .modal-content {
        border-radius: 0;
        border: none;
        box-shadow: none;

        h2 {
            font-size: 28px;

            @include mq('medium') {
                font-size: 32px;
            }
        }

        p {
            font-size: 16px;


            @include mq('medium') {
                font-size: 18px;
            }
        }


        @include mq('medium') {
            min-height: 100%;
        }
    }


}

.modal-open {
    .modal-backdrop {
        z-index: 4;
        opacity: .7;
    }
}

.main-wrapper  {
    .modal--sign-up, .modal--sign-out {
        .modal-content {
            border-radius: 0;
            padding: 60px 20px 20px;

            @include mq('medium') {
                padding: 50px;
            }
        }
    }

    .modal--ticket {
        .modal-content {
            padding: 20px;
            background-image: url($path-img + '/bg_mobile_primary.png');
            background-size:cover;
            background-position: center;

            p, h1, h2, h3 {
                color: #fff;

            }
        }
    }

}

.modal-backdrop {
    z-index: 2;
}





