.navbar {
    background-color: #fff;
    height: 60px;
    border: none;
    padding: 0 10px;

    &__logo {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 112px;
        margin: auto auto;

        @include mq('medium') {
            margin: 0 20px;
        }

        @include mq('large') {
            margin: 0 90px;
        }
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        max-width: 1280px;
    }

    &__logo__wrapper {
        max-width: 130px;
        height: 50px;
        padding-top: 10px;

        img {
            cursor: pointer;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 38px;
        height: 38px;
        background-image: url($default-img + '/burger.png');
        background-position: center center;
        background-repeat: no-repeat;
        outline:none !important;
        cursor: pointer;
        border: 2px solid #717274;
        border-radius: 50%;
        transform: translateY(-50%);

        &.active {
            background-image: url($path-img + '/cross.png');

        }

        @include mq('medium') {
            right: 90px;
        }

        @include mq('large') {
            display: none;
        }
    }

    img {
        //width: 100%;
        height: 100%;
    }

    .back {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        @include mq('medium') {
            right: 90px;
        }
    }

    @include mq('medium') {
        padding: 0 90px;
    }


}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}