section.oq-answer-field {
  width:80%;
  margin:15px auto;
  text-align:left;
  textarea {
    width:100%;
    border-radius:10px;
    padding:10px;
    line-height:1.25rem;
    font-size:14px;
  }
  .button--primary {
    width:100%;
    text-align:center;
    margin-top:10px;
  }
}

section.oq-question-intro {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 30px;
  width:80%;
  margin:0 auto;
  color:#fff;
  font-weight:bold;

  p {
    margin:0 auto;
  }
}


@keyframes spaceInDown {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(.2) translate(0%, 200%);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 100%;
    transform: scale(1) translate(0%, 0%);
  }
}

.answer-counter {
  text-transform: lowercase;
  position:absolute;
  bottom:0px;
  left:25px;
  background-color: rgba(0, 0, 0, 0.2);
  padding:32px;
  color:#fff;
  text-align:center;
  z-index:999;

  span.count {
    font-size: 50px;
    font-weight:bold;
  }

  span.counter-label {
    display:block;
    font-weight:300;
    font-size:30px;
  }
}

.open-question {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width:80%;
  z-index:1;

  &.the-question {
    margin: 0 auto;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  &.answer {
    width:auto;
    padding:5px;
    border-radius:10px 10px 10px 0px;
    position:absolute;
    opacity: 0;
    max-width:400px;
    max-height:250px;
    font-size: 34px;

    &.fade-away {
      opacity:0 !important;
      transition: opacity 0.5s ease-out !important;
    }

    &.highlight-answer {
      top: 50% !important;
      left: 50% !important;
      width: 80%;
      font-size: 45px;
      position: absolute;
      transform: translate(-50%, -40%);
      background-color:rgba(0, 0, 0, 0.4) !important;

      transition: all 2s ease;

      z-index:10000 !important;

      max-width: none;
      max-height: 60%;
      height: auto !important;
      overflow-y: scroll !important;
      display: block !important;
      opacity: 1 !important;


      p {
        height: auto !important;

        max-width: none;
        max-height: none;
        overflow:visible !important;
        line-height:3.25rem !important;
      }

      &:after {
        border-top: 20px solid rgba(0, 0, 0, 0.4);
      }
    }

    p {
      max-height:220px;
      max-width:380px;
      overflow:hidden;
    }

    &:after {
      position:absolute;
      left:0;
      bottom:-20px;
      width: 0px;
      height: 0px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      content:'';
      border-top: 20px solid rgba(0, 0, 0, 0.8);
    }

    &.show {
      background-color:rgba(0, 0, 0, 0.8);
      opacity: 1;
      transition: opacity 0.5s ease-in;
      animation: spaceInDown 0.7s;
    }

    &.fade-to-back {
      background-color:rgba(89,  89, 89, 0.5) !important;
      transform: scale(0.5);
      transition: all 5s ease;

      //&.fade-away {
      //  opacity: 0;
      //  background-color:rgba(89, 89, 89, 0.5) !important;
      //  transform: scale(0.5);
      //  transition: all 4s ease;
      //
      //  &:after {
      //      opacity: 0;
      //      transition: opacity 6s ease-out;
      //  }
      //}
      &:after {
        bottom:-19px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid rgba(89, 89, 89, 0.5);
        transition: all 5s ease;
      }
    }
  }

  &.with-answers {
    background:none;
    margin: 0 auto;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in;
    z-index:999;
  }

  p {
    color:#fff;
    text-align:center;
    margin:10px;
    line-height:1.25;
  }
}
