.page {
    &__container {
        //height: 100%;
        min-height: 100%;
        position: relative;
        background-color: #f0f0f0;

        &--questionnaire {
            .page__header {


                @include mq-max('medium') {
                    height: 120px;
                }
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        background-color: #fff;

        &--padded {
            padding: 30px 30px 40px 30px;
        }


        @include mq('medium') {
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            position: relative;
            top: -60px;
        }
    }

    &__header {
        position: relative;
        width: 100%;
        height: 280px;
        background-color: $color-primary;
        background-image: url($path-img + '/bg-page.png');
        background-position: center;
        background-size:cover;

        h1 {
            font-size: 28px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;

            @include mq('medium') {
                font-size: 48px;
            }

        }

        &__container {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        @include mq('medium') {
            height: 400px;
        }
    }

    &__starter {
        margin-bottom: 15px;
        font-size: 28px;
        color: #999;
        line-height: 100%;

    }

    &__body {
        font-size: 18px;
        color: #222;
    }
}

