.phonebook-wrapper {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;

    .search-wrapper {
        background-color: #d5d5d5;
        padding: 14px 16px;

        .search-field {
            width: 100%;
            background-color: #fff;
            height: 40px;
            border-radius: 20px;
            box-shadow: inset 1px 1px 3px 0 rgba(128,128,128, 0.7);
            overflow: hidden;
            cursor: pointer;

            .search-icon {
                background-image: url('/images/_default_/search-icon.png');
                background-repeat: no-repeat;
                background-position: center center;
                float: left;
                height: 100%;
                width: 40px;
            }

            input {
                border: none;
                height: 80%;
                margin-top: 4px;
                width: calc(100% - 60px);
                float: left;
            }
        }
    }
    
    .separator {
        width: 100%;
        height: 30px;
        background-color: #f0f0f0;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        padding-top: 4px;
    }

    .phonebook-row {
        width: 100%;
        min-height: 90px;
        border-bottom: solid 1px #ccc;
        padding: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: all 400ms ease-out;

        .content {
            //float: left;
            //width: calc(100% - 90px);
            height: 100%;
            padding-left: 10px;
            margin-left: 80px;

            .name {
                width: 100%;
                float: left;
                color: #222222;
                font-size: 18px;
                letter-spacing: 1px;
                font-weight: 600;
            }

            .extra {
                width: 100%;
                float: left;
                color: #999999;
                font-size: 14px;
            }
        }
    }
}

.image-wrapper {
    float: left;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    .image {
        margin: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: #4e4e4e;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
    }

    &.with-border-and-shadow {
        .image {
            border: 2px solid #fff;
            box-shadow: 1px 1px 6px 0 rgba(128,128,128,0.7);
        }
    }
}

.phonebook {
    position: relative;

    .image-wrapper {
        height: 136px;
        width: 136px;
    }

    &__intro {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @include mq('medium') {
            max-width: 420px;
        }
    }

    .person {
        @include mq('medium') {
            max-width: 300px;
            box-shadow: 0px 74px 209px -52px rgba(0,0,0,0.45);
        }
    }

    .go-to-your-info-btn {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        padding: 10px 0 20px;
        background-color: #f0f0f0;
    }
}

.phonebook-popup, .phonebook {

    .person {
        width: 100%;
        margin: 0 auto;

        &__header {
            position: relative;
            width: 100%;
            min-height: 190px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: $color-primary;
            text-align: center;

            h3 {
                margin: 0 0 7px 0;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }

            p {
                margin: 0 0 7px 0;
                color: #fff;
                font-size: 14px;
                line-height: 100%;
            }


        }

        &__about {
            padding: 30px 30px 35px 30px;
            background-size:cover;
            background-position: center;
            color: #fff;
            text-align: center;

            p {
                margin: 0;
            }
        }

        &__body {
            position: relative;
            background-color: #f0f0f0;

            &__section {
                width: 90%;
                margin: 0 auto;
                position: relative;
                top: -10px;
                padding: 20px;
                border-bottom: 1px solid #d5d5d5;
                background-color: #fff;

                p {
                    font-size: 16px;
                }

                &:last-of-type {
                    border-bottom: none;
                }



                .presentable__btn:first-of-type {
                    margin-top: 18px;
                }
            }

            h3 {
                margin: 0;
                color: #999;
                font-size: 12px;

            }

            p {
                margin: 0;
            }
        }

        &__image {
            margin: 0 auto 8px;

            .image-wrapper {
                float: none;
                margin: 0 auto;
                box-shadow: none;
                background-color: transparent;

                .image {
                    width: 100%;
                    height: 100%;

                    background-repeat:no-repeat;


                    &__default {
                        background-image: url($default-img + '/avatar.png');
                        background-size:70%;
                        background-position: bottom center;
                    }

                }


                &.with-border-and-shadow {
                    .image {
                        border: 2px solid #fff;
                        box-shadow: 1px 1px 6px 0 rgba(128,128,128,0.7);
                    }
                }
            }
        }

        &__footer {
            width: 100%;
            font-size: 12px;
            color: #999;
            text-align: center;
            margin-bottom: 20px;
            padding: 10px 15px 20px;
            background-color: #f0f0f0;
        }

        @include mq('medium') {
            max-width: 300px;
        }
    }

    &__people {
        overflow-y: scroll;
        padding-bottom: 200px;
        height: 100vh;
    }

    .col-md-6--right-float {
        text-align: left;

        @include mq('medium') {
            text-align: center;
        }
    }

}