.popup {
    max-width: 600px;
    width: 100%;

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, .7);
    }

    h1 {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 18px;

        @include mq('medium') {
            font-size: 16px;
        }
    }
}

.phonebook-popup, .posts-popup, .phonebook-popup-focused {
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    word-wrap: break-word;
    background-color: #fff;
}

.phonebook-popup, .phonebook-popup-focused {
    //overflow-y: scroll;

}

.phonebook-popup, .posts-popup {
    position: fixed;
}

.phonebook-popup-focused {
    position: fixed;

    .image-wrapper {
        height: 136px;
        width: 136px;
    }

    .person__header {
        @include mq('medium') {
            min-height: 270px;
        }
    }

    .person__body {
        min-height: 100%;
        padding-bottom: 140px;
    }
}