.posts {

    textarea {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #bebebe;
    }

    .button--primary {
        width: 100%;
        padding: 18px 30px;
    }

    &__container {
        height: 100vh;
        padding-bottom: 300px;
        overflow-y: scroll;
    }

    &__textarea-wrap {
        padding: 0 10px 6px;
    }

}

.posts__message-editor {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    width: 100%;

    .info__wrap {
        position: relative;
        padding: 0 10px 10px;
        cursor: pointer;

        p {
            font-size: 14px;
            margin: 0;
        }

        &--error {
            color: $color-wrong;
        }

        &--message {
            color: $color-right;
        }

        .remove-btn {
            position: static;
            float: left;
            margin-right: 10px;
            height: 25px;
            width: 25px;
        }
    }
}

.add-photo {

    &__wrap {
        padding: 10px;
        background-color: #eee;
    }

    &--edit {
        height: 160px;
        overflow: hidden;
        border-radius: 10px;

        @include mq('medium') {
            height: 200px;
        }
    }

    &__placeholder {
        width: 100%;
        border-radius: 10px;
        border: 1px dashed #aaa;
        cursor: pointer;

        p {
            padding: 14px;
            text-align: center;
            margin: 0;
            font-size: 12px;
            color: #aaa;
            font-weight: bold;
        }
    }
}