.program__list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .program-item {
        margin-bottom: 10px;
        &__time {
            float: left;
            margin-right: 10px;
            color: $color-primary;
            font-weight: bold;
            font-size: 16px;
        }
        &__divider {
            float: left;


            .diamond {
                background-image: url($default-img + '/diamond.png');
                background-position: center;
                background-repeat:no-repeat;
                width: 24px;
                height: 24px;
            }

            .line {
                background-image: url($default-img + '/program-line.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 24px;
                height: 50px;
                margin-top: 10px;
            }
        }
        &__title {
            font-weight: bold;
            //float: left;
            margin-left: 90px;
            //width: calc(100% - 105px);
        }

        &__info {
            //width: calc(100% - 105px);
            //float: left;
            margin-left: 90px;
            font-size: 18px;

        }

        &.hidden {
            display: none;
        }
        
        &:last-of-type {
            .line {
                background-image: none;
            }
        }


    }
}

.home-content {
    .program-item {
        &:last-of-type {
            .line {
                background-image: url($default-img + '/program-line-dotted.png');
            }

        }
    }

    .swiper-wrapper {
        @include mq('medium') {
            height: 300px;
        }
    }
}

.invite__content .programs .program {
    &__img-container.with-icon {
        background-size: 60px 60px;
        background-repeat: no-repeat;
    }


}