.push {

    &__image {
        width: 100%;
    }
}

.wrapper--push {
    .content__wrap--client {
        width: 100%;
        padding: 10px 30px;
        margin: 0 auto;
    }

    .message__wrap .message__wrap__heading {
        padding: 0 30px 14px;
    }
}