.questionnaire {
    &__intro, &__outro {
        background-color: #fff;
        padding: 20px;
        height: 100%;

        &__body {
            padding-bottom: 40px;
        }
    }

    &__outro {
        padding: 20px;

        p {
            color: #000;
        }
    }

    &__answer {

        .list__answer--abcd {
            margin: 0 30px;
            padding: 0;
        }

        .button {
            margin-top: 20px;
        }

        &--range {
            margin: 0;
            color: #000;
        }

        &--open {
            margin: 0 30px;
        }

        .slider__label {
            color: #000;
        }
    }

    &__start-btn {
        position: relative;
        border: 2px solid #a2cec1;
        border-radius: 10px;
        margin: 10px 20px 0;
        background-image: url($path-img + '/right_arrow.png');
        background-position: right center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, .4);
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &__overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url($path-img + '/voted.png');
            background-position: center center;
            background-size: cover;
        }

        &__inner {
            padding: 20px 40px 20px 20px;

            h1 {
                font-size: 20px;
            }

            p {
                margin: 0;
            }

        }

        &.voted {

            .questionnaire__start-btn {
                background-image: none;

                &__overlay {
                    display: block;
                }

                &__inner {
                    opacity: .1;
                }

            }

        }
    }
}

.ui-widget-content {
    color: #fff;
}