.ribon__wrap {
    position: relative;
    background: $color-primary;
    padding: 3px 12px;
    height: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto 6px auto;
    width: 100%;

    h1 {
        font-size: 20px;
        text-transform: none;
        color: $color-primary;
        line-height: 1;
        margin: 0
    }

    h2 {
        font-size: 14px;
        text-transform: none;
        color: #fff;
        line-height: 1;
        margin: 0;
    }

    &--20, &--questionnaire {
        background: #fff;
        padding: 4px 40px 6px;
        height: auto;

        &:before, &:after {
            border: 16px solid white;
        }
        &:before {
            left: -16px;
            border-right-width: 1px;
            border-left-color: transparent;
        }
        &:after {
            right: -16px;
            border-left-width: 1px;
            border-right-color: transparent;
        }
        h1 {
            font-weight: 500;
        }
        @include mq('hd') {
            height: 52px;
            &:before, &:after {
                border: 26px solid white;
            }
            &:before {
                left: -26px;
                border-right-width: 1px;
                border-left-color: transparent;
            }
            &:after {
                right: -26px;
                border-left-width: 1px;
                border-right-color: transparent;
            }
            h1 {
                font-size: 40px;
            }
        }
        &.ribon__wrap--wait {
            h1 {
                font-size: 20px;
            }
        }
    }

    &--20 {
        width: auto;
    }

    &--questionaire {
        width: 100%;
    }

    &--waiting {
        .icon {
            float: left;
            margin-right: 6px;
            width: 14px;
            height: 100%;
            background-image: url($default-img + '/waiting.svg');
            background-size: 100%;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            color: $color-primary;
            margin: 0;
            line-height: 1;
            float: left;
        }
    }

    &.score {
        h1 {
            font-size: 40px;
        }


    }

    &.choice {
        margin: 30px 0 20px;
        h1 {
            font-size: 20px;
        }
    }
}