.show-enter {
    opacity: 0.01;
    transition: opacity 5s ease-in;
}

.show-enter.show-enter-active {
    opacity: 1;
    transition: opacity 5s ease-in;
}

.show-leave {
    opacity: 1;
}

.show-leave.show-leave-active {
    opacity: 0.01;
    transition: opacity 5s ease-in;
}

.show-appear {
    opacity: 0.01;
}

.show-appear.show-appear-active {
    opacity: 1;
    transition: opacity 5s ease-in;
}


/* Animated tick. Draws a circle then a tick. */
.animated-circAndTick {
    &.ready-for-animation {
        margin: 25px auto;
        max-width: 176px;
        max-height: 176px;
        width: 176px;
        height: 176px;
    }
}

.animated-circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.animated-tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn + svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}