.answer__wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 0);

    &.game {
        top: 100%;
    }

    &.active {
        transform: translate(0, -100%);
    }
    .waiting__wrap {
        position: absolute;
        width: 100%;
        bottom: 24px;
        left: 0;
        text-align: center;
        z-index: 20;
    }
    &--a {
        transform: translate(-100%, -100%);
        transition: transform $trns-duration ease-in-out;
        background-color: $color-pick-1;
        background: $color-pick-1 url($path-img + '/pick-1.jpg') no-repeat center center;
        background-size: cover;
    }
    &--b {
        transform: translate(200%, -100%);
        transition: transform $trns-duration ease-in-out;
        background-color: $color-pick-2;
        background: $color-pick-2 url($path-img + '/pick-2.jpg') no-repeat center center;
        background-size: cover;

    }
    &--wrong, &--right {
        z-index: 20;
        background-size: cover;
        padding-top: 112px;
        .answer__wrap__icon {
            width: 140px;
            height: 140px;
            border: 4px solid white;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            padding: 30px;
            display: block;
            margin-bottom: 18px;
            .icon {
                width: 100%;
                height: 100%;
                background-image: url($path-img + '/right.svg');
                background-size: 100% 100%;
                max-width: 90px;
                margin: 0 auto;
            }
        }
        @media (min-height: 400px) {
            padding-top: 150px;
            .answer__wrap__icon {
                width: 190px;
                height: 190px;
                padding: 46px;
            }
        }
        .ribon__wrap h1 {
            color: $color-primary;
        }
    }
    &--wrong {
        background: $color-wrong url($path-img + '/bg_mobile_wrong.jpg') no-repeat left bottom;

        .answer__wrap__icon {
            .icon {
                background-image: url($path-img + '/wrong.svg');
            }
        }
    }
    &--right {
        background: $color-right url($path-img + '/bg_mobile_right.jpg') no-repeat left bottom;
        background-size: cover;
    }
}

.slider {
    margin: 50px auto 60px;
    width: 90%;

    & label {
        position: absolute;
        width: 20px;
        margin-top: 20px;
        margin-left: -10px;
        text-align: center;
    }
}


/* Questionnaire */

.questionnaire__answer {

    textarea {
        width: 100%;
        height: 170px;
        color: #000;
        border-radius: 10px;
        border: rgba(0,0,0, .4) 1px solid;
        vertical-align: top;
        padding: 10px;
    }

}