.header__wrap {

    .l-half {
        width: 40%;

        &.score__wrap {
            width: 60%;
        }
    }

    .logo__wrap {
        float: left;
        padding-right: 20px;

        img {
            display: block;
            max-width: 90px;
            width: 100%;
            height: auto;

            @include mq('medium') {
                max-width: 150px;
            }
        }


    }

    .score__wrap {
        position: relative;
        z-index: 20;
        text-align: center;

        h2 {
            text-transform: uppercase;
        }


    }

    &--desktop {
        height: $header-height;
        z-index: 10;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;

        h1 {
            font-size: 48px;
            line-height: $header-height;
            margin:  0 0 0 50px;
        }

        .logo__wrap {
            float: none;
            position: absolute;
            top: 22px;
            //top: 50%;
            right: 22px;
            width: 90px;
            padding: 0;
            //transform: translateY(-50%);

            @include mq('extralarge') {
                right: 22px;
                width: 140px;
            }
        }
    }

    &__left-logo {
        margin-left: 48px;
        width: 500px;
        height: $header-height;
        background-image: url($default-img + '/replylive-logo-display.png');
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
    }
}

.home .header {
    position: relative;
    padding: 100px 0 40px;

    &__wrapper {
        background-color: #000;
        background-image: url($path-img + '/home-header-bg.png');
        background-position: center;
        background-size: cover;
    }

    &__content {
        text-align: center;

        h1 {
            margin: 0;
            font-size: 48px;

            &:last-of-type {
                margin-bottom: 15px;
            }
        }

        h2 {
            margin-bottom: 0px;
            font-size: 32px;
        }

        p {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;

            &:last-of-type {
                margin: 0;
            }
        }

        .button {
            margin-top: 35px;
        }
    }

    &__btn {

        h3 {
            margin: 0 0 10px;
        }

        &--sign-out, &--waiting {
            border-top: 1px solid #313131;
            padding: 15px 0 0 0;
            margin: 18px 0 0 0;
        }

        &--lost {
            margin: 10px 0 0 0;
        }
    }

    .content__wrap {


        @include mq('medium') {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }

    @include mq('medium') {
        height: 100vh;
        max-height: 630px;
    }
}

.logo--primary {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 90px;
    z-index: 999;


    img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    @include mq('medium') {
        max-width: 120px;
    }

}