.home {
    height: 100%;
    min-height: 100%;

    .l-container--mobile {
        .header__wrap {
            padding: 20px;
        }
    }

    .wrapper {
        background-image: url($path-img + '/bg-page.png');
    }

    &-content {
        &:before,
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    h1 {
        font-size: 24px;

        @include mq('medium') {
            font-size: 32px;
        }
    }

    h2 {
        margin-bottom: 5px;
        font-size: 32px;
        text-align: center;

        @include mq('medium') {
            margin-bottom: 10px;
            font-size: 40px;
        }
    }

    h3 {
        margin-bottom: 20px;
        font-size: 18px;

        @include mq('medium') {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 14px;

        @include mq('medium') {
            font-size: 18px;
        }
    }

    p {
        margin-bottom: 8px;
        font-size: 18px;

        @include mq('medium') {
            margin-bottom: 10px;
            font-size: 20px;
        }

    }

    .header__wrap {
        @include mq('medium') {
            position:absolute;
            top:0;
            left: 0;
            //width: 80%;
        }

        .score__wrap {
            width: 100%;
            float: none;

            @include mq('medium') {
                width: 60%;
                float: left;
            }
        }
    }

    .logo__wrap {
        @include mq('medium') {
            max-width: 240px;
        }
    }

    .wrapper {
        min-height: 100%;

        @include mq('medium') {
            min-height: initial;
        }

    }

    .program__wrapper {
        background-color: #f0f0f0;
    }

    .strategy__wrapper {
        background-image: url($path-img + '/primary-bg.png');
        background-size:cover;

        h2 {
            color: #fff;
        }

        @include mq('medium') {
            background-image: url($path-img + '/BGdesktop-primary.jpg');
        }
    }

    .header__wrapper, .sign-up__wrapper {
        background-repeat: no-repeat;
        color: #fff;
    }

    .header {

    }

    .about {

        &__wrapper {
            background-size: cover;
            background-position: center center;

            @include mq('medium') {
                background-position: right center;
            }
        }

        &__content {
            padding: 40px 28px;
            max-width: 555px;

            @include mq('medium') {
                margin: 0 0 0 auto;
                padding: 90px 90px 90px 10px;
            }
        }

        .mood-image {
            background-image: url($path-img + '/mood-image.jpg');
            background-size: cover;
            background-position: center center;
        }

        .col-md-6 {
            padding: 0 !important;
        }

        h2 {
            text-align: left;
        }

        p {
            &:last-of-type {
                margin: 0;
            }
        }
    }

    .about, .sign-up, .info {
        a {
            color: $primary-hyperlink-color;
            font-weight: bold;
        }
    }

    .programs, .info, .practical-info {
        h2 {
            color: #000;
        }

        &__intro {
            text-align: left;

            @include mq('medium') {
                text-align: center;
            }
        }
    }

    .programs {
        padding-left: 10px;
        padding-right: 10px;

        &__intro {
            padding-left: 0;

            @include mq('medium') {
                padding-left: 10px;
            }
        }

        .program {
            position: relative;
            padding: 0;
            margin-bottom: 10px;
            background-color: #fff;
            height: 160px;
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);

            p {
                margin-bottom: 5px;
                color: #97999b;
                font-weight: bold;
            }

            h3 {
                margin: 0 0 5px;
                line-height: 1em;
            }

            h4 {
                color: #666666;

                @include mq('medium') {
                    font-size: 17px;
                }
            }

            &__header {
                position: relative;
                float: left;
                width: 110px;
                height: 100%;

                @include mq('medium') {
                    float: none;
                    width: 100%;
                    height: 130px;
                }
            }

            &__info {
                float: left;
                width: 60%;
                padding: 20px 0 20px 20px;

                @include mq('medium') {
                    width: 100%;
                    float: none;
                    padding: 20px;
                }
            }
            
            &__time {
                position: absolute;
                top: 5px;
                left: 5px;
                background-color: rgba(#000, .5);

                p {
                    padding: 3px 5px;
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                    line-height: 100%;
                }

                @include mq('medium') {
                    top: 10px;
                    left: 10px;
                }
            }

            &__img-container {
                background-position: center center;
                background-size: cover;
                height: 100%;
                width: 100%;

                &.with-icon {
                    background-size: 60px 60px;
                    background-repeat: no-repeat;
                    background-color: $color-primary;
                }
            }

            &__img-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url($path-img + '/program-overlay.png');
                background-position: center center;
                opacity: .6;
            }

            &--first-of-day {
                margin-left: 0 !important;
            }

            @include mq('medium') {
                height: 290px;
                width: 235px;
                margin: 0 auto;
            }
        }

        &__wrapper {
            background-color: #e8eae9;
        }

        &__btn {
            margin-top: 15px;

            @include mq('medium') {
                display: none;
            }
        }

        .swiper-slide {

            width: 100%;
            float: none;

            @include mq('medium') {
                max-width: 256px;
                float: left;
            }

            //&:first-child {
            //    .program {
            //        margin-left: 0;
            //    }
            //}
        }

        .more-info-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;

            .arrow {
                width: 20px;
                height: 20px;
                display: inline-block;
                border-radius: 50%;
                border: 2px solid #ccc;
                vertical-align: middle;
                background-position: center;
                background-repeat:no-repeat;
                background-image: url($default-img + '/small-right-arrow.png');
                cursor: pointer;
            }
        }

        @include mq('medium') {
            padding-left: 0;
            padding-right: 0;
        }

    }

    .sign-up,
    .blocks-5050 {
        background-color: #000;
        padding: 30px;
        border-top: 2px solid #fff;

        @include mq('medium') {
            max-width: 50%;
            //margin: 0 0 0 auto;
            float: left;
            border-top: none;
            border-right: 2px solid #fff;
            padding: 0 30px;
        }

        &__inner {


            @include mq('medium') {
                max-width: 530px;
                margin: 80px 50px 80px auto;
            }
        }

        &__wrapper {
            background-color: #000;

            @include mq('medium') {
                background-size: cover;
                background-position: right center;
            }
        }

        &__img {
            height: 200px;
            width: 100%;
            background-image: url($path-img + '/sign-up-bg.jpg');
            background-size: cover;
            background-position: center center;

            @include mq('medium') {
                max-width: 50%;
                float: right;
                background-image: none;
            }
        }
    }

    .blocks-5050 {
        &__wrapper {
            &--flipped {
                .blocks-5050__img {
                    @include mq('medium') {
                        float: left;
                    }
                }

                .blocks-5050 {
                    @include mq('medium') {
                        border-right: none;
                        border-left: 2px solid #fff;
                    }

                    &__inner {

                        @include mq('medium') {
                            margin: 80px auto 80px 50px;
                        }

                    }
                }
            }
        }
    }

    .info {


        h2 {
            margin-bottom: 25px;
        }

        h3 {
            font-weight: bold;
            font-size: 18px;

            @include mq('medium') {
                font-size: 20px;
            }
        }

        &__wrapper {
            background-color: #f0f0f0;
        }

        &__content {
            padding: 20px;
            background-color: #fff;

            @include mq('medium') {
                padding: 50px;
            }
        }

        .col-md-6 {
            padding: 0;
        }
    }

    .practical-info {
        text-align: left;

        h3 {
            margin-bottom: 10px;
            color: $color-primary;
            font-size: 16px;

            @include mq('medium') {
                font-size: 20px;
            }
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;

            @include mq('medium') {
                font-size: 18px;
            }
        }
    }

    .google-maps {
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }

    .mobile-gradient, .desktop-gradient-left, .desktop-gradient-right {
        position: absolute;
    }

    .mobile-gradient {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url($path-img + '/mobile-gradient.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        z-index: 5;
        pointer-events: none;

        @include mq('medium') {
            display: none;
        }

    }

    .desktop-gradient-left, .desktop-gradient-right {
        display: none;
        width: 162px;
        height: 100%;
        opacity: .8;
        top: 0;
        background-repeat: no-repeat;

        @include mq('medium') {
            display: block;
        }
    }

    .desktop-gradient-left {
        left: 0;
        background-image: url($path-img + '/desktop-gradient-left.png');
        background-position: left center;
    }

    .desktop-gradient-right {
        right: 0;
        background-image: url($path-img + '/desktop-gradient-right.png');
        background-position: right center;
    }

    .footer {

        &__wrapper {
            border-top: 1px solid #ececec;
        }

        color: #97999b;
        font-size: 12px;
    }
}
