.home .header__wrapper .message__wrap .message__wrap__heading {
    padding: 0 30px 14px;
}

.message__wrap {
    text-align: center;

    .button--primary {
        margin-top: 20px;
    }

    .message__wrap__heading {
        padding: 80px 30px 14px;

        p {
            font-size: 20px;
            margin: 0;
        }
    }

    .message__wrap__body {
        background: $white;
        margin: 0 auto;
        max-width: 600px;
        background-color: rgba(0,0,0,0.5);

        .photo__wrap {
            margin: 0 12px;
            border: 1px dashed $white;
            padding: 12px 60px;
            border-radius: 12px;
            cursor: pointer;

            p {
                margin: 0;
                line-height: 1;
            }

            img, video {
                width: 100%;
                max-width: 300px;
                height: auto;
            }
        }

        .info__wrap {
            margin: 12px 12px 10px 12px;
            border: 1px solid $white;
            padding: 12px 60px;
            border-radius: 12px;
            cursor: pointer;
            position: relative;

            p {
                margin: 0;
                line-height: 1;
            }

            .remove-btn {
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

            &--error {
                border-color: $color-wrong;
                background-color: rgba(255, 0, 0, 0.2);
                border-width: 2px;
            }

            &--message {

            }
        }

        textarea {
            width: calc(100% - 24px);
            max-width: calc(100% - 24px);
            display: block;
            margin: 12px;
            border-radius: 12px;
            padding: 12px;
            color: $black;
            border: none;
        }

        .button {
            display: block;
            font-size: 24px;
            font-weight: 500;
            padding: 12px;
        }
    }
}