.question {

    &__image {
        width: 90%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.question__wrap {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: $white;
    background: $black;
    background: rgba($black, 0.4);
    padding: 24px;

    p {
        margin: 0;
        line-height: 1.2em;
        padding: 0 4px;
    }
    //span {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    background: $color-primary;
    //    border-radius: 50%;
    //    font-family: Verdana, Geneva, sans-serif;
    //    padding: 6px;
    //    text-align: center;
    //    width: 30px;
    //    height: 30px;
    //    font-weight: bold;
    //    &:last-child {
    //        top: auto;
    //        left: auto;
    //        bottom: 0;
    //        right: 0;
    //    }
    //}
    &--inline {
        font-size: 30px;
    }
    &--desktop {
        font-size: 40px;
        padding: 40px 30px;
        margin: 0 300px;
        min-height: 140px; //to match .list__players-left. Change this if .list__players-left's height changes.
        span {
            font-size: 30px;
            padding: 9px;
            height: 36px;
            width: 36px;
        }
        @include mq('hd') {
            font-size: 44px;
            margin: 0 0 18px 0;
            span {
                padding: 12px 0;
                height: 45px;
                width: 45px;
            }
        }
    }
    &.quiz {
        font-size: 40px;
        margin: 0 20px 22px 20px;
    }
    &--poll {
        margin: 30px 0;
        .ribon__wrap {
            position: absolute;
            top: -16px;
            margin: 0 auto;
            transform: translateX(-50%);
        }
        @include mq('hd') {
            padding: 50px 50px;
            min-height: 150px;
            .ribon__wrap {
                top: -26px;
            }
        }
    }
    &--quiz {
        width: calc(100% - 50px);
        margin: 20px auto 50px;

        .ribon__wrap {
            position: absolute;
            top: -26px;
            margin: 0 auto;
            transform: translateX(-50%);
        }

        @include mq('hd') {
            margin: 50px auto 60px;
            padding: 80px 24px;
        }
    }

    &--questionnaire {
        margin: 0 30px 20px;

        p {
            font-weight: normal;

            @include mq('medium') {
                font-size: 20px;
            }

        }

        h3 {
            font-weight: 500;

            @include mq('medium') {
                font-size: 35px;
            }
        }
    }

    &--hats {
        margin: 0 160px; //Has to be 160px to make room for .list__players-left with a bit of margin. Change this if .list__players-left's width changes.
    }

    &--client {
        margin: 20px 25px 50px;
    }
}

.questionnaire-progress-bar {
    height: 4px;
    margin-bottom: 10px;
    position: relative;
    background: rgba(255,255,255,.7);
    border-radius: 2px;

    span {
        display: block;
        height: 100%;
        background: $color-right;
        position: relative;
        overflow: hidden;
        border-radius: 2px;
    }
}

.ui-slider-handle {

    &:focus {
        outline: none;
        background-color: $color-primary;
    }

}
