.wrapper {
    background: $color-primary;
    background: $color-primary url($path-img + '/bg_mobile_primary.png') no-repeat center center;
    background-size: cover;
    min-height: 100%;
    @include mq('medium') {
        background: $color-primary;
        background: $color-primary url($path-img + '/bg_desktop_primary.png') no-repeat center center;
        background-size: cover;
    }

    &--push {
        .ribon__wrap--20 {
            width: 100%;
        }
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $color-primary;
    background: $color-primary url($path-img + '/bg_desktop_primary.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.main-wrapper {
    height: 100%;
    min-height: 100%;
}

.welcome-label {
    color: $color-primary;
}

.user-name-label {
    color: $color-secondary;
}


.profile__wrap {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    background: $color-primary;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    .avatar {
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        width: 100%;
        height: 100%;

        &__default {
            background-image: url($default-img + '/avatar.png');
            background-size: 70%;
            margin-top: 1px;
        }
    }

    .picture-tag {
        position: relative;
        top: -32px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
    }

    &--default {
        //&:hover {
        //    .picture-tag {
        //        transition: opacity 100ms ease-out;
        //        opacity: .8;
        //    }
        //}
    }
}

.intro__wrap__heading {
    position: relative;
    &:before {
        position: absolute;
        top: 32px;
        left: calc(50% - 50px);
        z-index: 3;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: white;
        content: '';
    }
    p {
        text-align: center;
        font-size: 14px;
    }
}

.intro__wrap__body {
    h1 {
        margin: 12px 10%;
        padding: 4px 0;
        width: 80%;
        background: white;
        color: $color-primary;
        text-align: center;
        font-size: 20px;
    }
    p {
        margin: 0 10%;
        width: 80%;
        text-align: center;
        font-size: 16px;
    }
}

.content__wrap {
    position: relative;

    &--message, &--mq {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    &--message {

        .message__list {
            margin: 20px 30px 0 0;

            li {
                @include mq('medium') {
                    float: left;
                    width: 50%;
                }
                @include mq('extralarge') {
                    float: left;
                    width: 33.333%;
                }
            }
        }
    }

    &--mq {

        .l-one__third, .l-two__third {
            padding: 30px;
        }

        .message__list {
            li {
                @include mq('large') {
                    float: left;
                    width: 50%;
                }
            }
        }

        h1 {
            margin-left: 30px;
        }
    }

    &.status {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    &.home {
        padding: 12px 0 30px 0;
        margin-bottom: 30px;
    }

    .answer__wrap {
        transform: translate(0, 0);
    }

    .top__line {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 0;
        width: 50%;
        height: 1px;
        background: white;
    }

    .bottom__line {
        position: absolute;
        width: 80%;
        height: 1px;
        background: white;
        z-index: 0;
        left: 0;
        bottom: 0;
        &:after {
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: 3;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: white;
            content: '';
        }
    }

    .left__line {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 0;
        width: 1px;
        height: calc(100% - 35px);
        background: white;
    }

    &--desktop {
        top: $header-height;
    }

    &--questionnaire {
        padding: 0 0 20px;

        @include mq('medium') {
            padding: 0 20px 20px;
        }
    }

    &--questionnaires {
        padding: 6px 0 20px;
    }
}

.questions__wrap {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 33.333%;
    height: 100%;
    overflow: auto;
    background: $white;
    background: rgba($white, .2);
    border-right: 2px solid rgba($white, .4);
    padding: 10px 40px 18px 18px;
}

.message__wall__wrap {
    position: fixed;
    top: $header-height;
    right: 0;
    width: 66.666%;
    height: 100%;
    overflow: auto;
    padding: 10px 40px $header-height 18px;
}

.waiting__wrap__icon {
    width: 140px;
    height: 140px;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 18px;
    padding: 32px;
    display: block;
    svg {
        width: 100%;
        max-width: 60px;
        margin: 0 auto;
        path {
            fill: #FFFFFF;
        }
    }
    @media (min-height: 400px) {
        width: 190px;
        height: 190px;
        padding: 48px;
        margin-top: 36px;
    }
}

.page_mq .l-container {
    padding: 0;
    h1 {
        font-weight: normal;
        margin-bottom: 30px;
        position: relative;
        z-index: 10;
    }
}

.page_message_wall {
    .l-container {
        padding: 0;
    }
    .message__wall__wrap {
        width: 100%;
    }
}

.invite__body {
    background-color: #000;

    .modal {
        &-dialog {
            height: calc(100% - 20px);
            min-height: calc(100% - 20px);

            @include mq('small') {
                width: 500px;
                height: auto;
            }
        }

        &-content {
            min-height: 100%;
            padding: 60px 30px 20px 30px;
            border: none;
            box-shadow: none;
            border-radius: 0;
            //background-image: url($path-img + '/modal-bg.jpg');
            //background-position: center center;
            //background-size: cover;
        }

        &-backdrop.in {
            opacity: .7;
        }

        h2 {
            //color: $color-primary;
            margin-bottom: 15px;
        }

        .form-control {
            //padding: 19px 13px;
            height: 40px;
            border-radius: 0;
            color: #999f9f;

            &.alert {
                border: 1px solid #f00;
                //box-shadow: 0 0 10px #f00;
                margin-bottom: 5px;
                padding: 6px 12px;
            }

            &--request {
                //margin-bottom: 10px;
            }
        }

        .button {
            //position: absolute;
            //bottom: 20px;

            @include mq('small') {
                width: 100%;
                position: relative;
                bottom: 0;
                margin-top: 10px;
            }
        }

        //if want pop up vertically centered
        //&.in {
        //    display: flex !important;
        //    flex-direction: column;
        //    justify-content: center;
        //}

        &--program {

            &__img {
                margin: 20px 0;
                height: 170px;
                overflow: hidden;

                @include mq('medium') {
                    height: 300px;
                    overflow: hidden;
                }
            }
            img {
                width: 100%;
            }

            h2 {
                margin-bottom: 0;
                color: #000;
            }

            h3 {
                color: #97999b;
            }

            &__body {
                color: #000;
            }

            &__time {
                font-weight: bold;
                color: #97999b;
            }

        }
    }


    .modal, .popup {
        .close {
            position: absolute;
            top: 10px;
            right: 10px;

        }


    }

    .button {
        padding: 16px 30px;
        text-transform: none;
        font-size: 18px;
    }

    &--replylivewall {
        .invite__content {
            top: 0;
        }
    }
}

.attendees {
    
    &__wrapper {
        background-image: url($path-img + '/attendees-bg.png');
        background-size:cover;
        background-position: center center;
    }
    &__intro {
        margin-bottom: 25px;

        p {
            @include mq('medium') {
                font-size: 18px;
            }

        }
    }
}

.empty-form-alert {
    color: #f00;
    font-weight: bold;
}

.almost-full {
    h1 {
        margin-bottom: 0;
        font-size: 20px;

        @include mq('medium') {
            font-size: 24px;
        }
    }

}

.event-image {
    top: 0;
    left: 0;
    background-image: url($path-img + '/event-image-noblur.png');
    background-position: center center;
    background-repeat: no-repeat;


    @include mq('medium') {
        position: absolute;
        //transform: translateZ(50px);
    }


    &__wrapper {
        position: relative;
        margin: 0 auto;
        background-image: url($path-img + '/white-blur.png');
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        height: 180px;



        //background-color: pink;

        @include mq('medium') {
            width: 258px;
            //transform-style: preserve-3d;
            //transform: translateZ(0px);
        }
    }
}

.user-barcode {
    font-family: 'barcode_fontregular';
    font-size: 164px;
}

.ticket-icon {
    background-image: url($path-img + '/ticket-icon.png');
    background-size:cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
}

.scan-content {
    margin-left: 100px;

    #barcode-label {
        font-size: 26px;
        margin-bottom: 10px;
    }

    #scan {
        margin-top: 20px;
    }

    input {
        color: black;
        height: 36px;
        width: 200px;
        border-radius: 2px;
        border: none;
        padding-left: 6px;
    }

    .submit-scan {
        margin-top: 20px;
        background-color: #00A3E0;
        color: white;
        font-weight:600;
    }

    .scan-result {

        .error {
            display: none;
            color: #a94442;
            font-weight: 600;
            font-size: 22px;
        }

        .success {
            display: none;
            color: #85BC22;
            font-weight: 600;
            font-size: 22px;
        }
    }
}

.image-wrapper {
    .image {
        background-repeat:no-repeat;
        &__default {
            background-image: url($default-img + '/avatar.png');
            background-size:70%;
            background-position: bottom center;
        }

    }
}

.primary-box-shadowing {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}

.nice-underline {
    border-bottom: 1px solid #fff;
    border-spacing: 3px;
}

.small {
    font-size: 14px;
}

.white-gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.g-recaptcha {
    margin: 10px 0;
}


.progressbar-container {
    width: 100px;
    height: 100px;
    top: 40%;
    left: 50%;
    display: none;
    z-index: 9999;
    margin-top: -150px;
    position: absolute;
    transform: translate(-50%, -50%);
}