.background {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url($path-img + '/BGdesktop-primary.jpg');
    position: relative;
    z-index: 1;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        height: 30%;
        z-index: 2;
        text-align: center;

        h1 {
            color: white;
            font-size: 200%;
        }

        .logo {
            background-image: url($path-img + '/logo.png');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            margin-bottom: 5%;
        }
    }
}